<div class="card col">
  <div class="row">
    <div class="col">
      <img class="img-fluid book-image" src="" alt="book image" />
    </div>
    <div class="col">
      <div class="card-body">
        <h5 class="card-title book-title">Card title</h5>
        <p class="card-text book-description">
          This is a wider card with supporting text below as a natural lead-in
          to additional content.
        </p>
        <p class="card-text">
          <small class="text-body-secondary book-update"
            >Last updated time</small
          >
        </p>
      </div>
    </div>
  </div>
</div>
