<header class="p-3 text-bg">
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <a
        href="/templates/home.html"
        class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"
      >
        <img width="50" class="small" src="/assests/logo.jpg" alt="BCF Logo" />
      </a>

      <ul
        class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
      >
        <li>
          <a href="/templates/home.html" class="nav-link px-2 text-black"
            >Home</a
          >
        </li>
        <li>
          <a href="/templates/books.html" class="nav-link px-2 text-black"
            >Books</a
          >
        </li>
        <li><a href="#" class="nav-link px-2 text-black">Quizzes</a></li>
        <li>
          <a href="/templates/contact.html" class="nav-link px-2 text-black"
            >Contact</a
          >
        </li>
        <li>
          <a href="/templates/about.html" class="nav-link px-2 text-black"
            >About</a
          >
        </li>
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
        <input
          type="search"
          class="form-control form-control-dark text-bg-light"
          placeholder="Search..."
          aria-label="Search"
        />
      </form>

      <div class="text-end">
        <button type="button" class="btn btn-outline-dark me-2">Login</button>
        <button type="button" class="btn btn-warning">Sign-up</button>
      </div>
    </div>
  </div>
</header>
